# Extracted from https://github.com/ulrich/macaron-factory/blob/master/.gitignore
# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore
!.bowerrc

*~
#*
*#
*.iws
*.iml
*.ipr
eclipse
*.backup
*.orig
*.pyc

build
target
slask
static/bower_components
tellcore_examples
events_log.txt
