<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='bulma.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='smarthus.css') }}" rel="stylesheet"/>
    <script type="text/javascript"
            src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
    <script type="application/ecmascript"
            src="{{ url_for('static', filename='smarthus.js') }}"></script>
    <script>
        $(() => {
            smarthus.init()
        });
    </script>
    <title>Lampor</title>
</head>
<body>
<section class="tighter_section">
    <div class="level is-mobile">
        <div class="level-item has-text-centered">
            <button id="night" class="button is-danger">Godnatt</button>
        </div>
        <div class="level-item has-text-centered">
            <button id="morning" class="button is-success">God morgon!</button>
        </div>
    </div>
    <div id="lights">
    </div>
</section>
</body>
</html>
