<!DOCTYPE html>
<html ng-app="devicesApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" />
    <title>Lampor</title>
</head>
<style>
    body {
       padding: 5px;
    }
    .button-row {
        margin-bottom: 5px;
    }
    .good-night {
        margin: 10px 0 14px 0;
    }
</style>
<body>
{% raw %}

<div class="container-fluid" ng-controller="DevicesController">

  <div class="row good-night">
    <div class="col-xs-4 col-xs-offset-4">
      <button ng-click="turnOffAll()" type="button" class="btn btn-danger btn-lg">God natt</button>
    </div>
  </div>

    <div class="row button-row" ng-repeat="device in devices">
      <div class="col-xs-7"><span>{{ device.name }}</span></div>
      <div class="col-xs-2">
        <button type="button" class="btn btn-{{ device.status }}" ng-click="toggle(device)">{{ device.label }}</button>
      </div>
    </div>

</div>
{% endraw %}
    <script type="text/javascript"
            src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='bower_components/angular/angular.min.js') }}"></script>

    <script>
        var app = angular.module('devicesApp', []);

        app.controller('DevicesController', function($scope, $http, deviceFactory) {
            function init() {
                deviceFactory.getDevices().success(function(data) {
                    $scope.devices = data;
                });
            }
            init();
            $scope.toggle = function(device) {
                $http.post('/devices/toggle/' + device.id).success(function(data) {
                    device.status = data.status;
                    device.label = data.label;
                });
            };
            $scope.turnOffAll = function() {
                $http.post('devices/turnOffAll').success(function(data) {
                    $scope.devices = data;
                });
            };

        });

        app.factory('deviceFactory', function($http){
            var factory = {};
            factory.getDevices = function() {
                return $http.get('/devices')
            };
            return factory;
        })
    </script>
</body>
</html>
